body {
    background-color: #EDDDD0;
}

h1, h2{
    color:#334259;
}

header, footer{
    text-align: center;
    background-color: #a6cad4;
    padding-bottom:0.1pc
}

ul {
    list-style: none;
}


.intropgh1{
    font-family: 'Montserrat', sans-serif;
    display:flex;
    justify-content: center;
}

.external_links{
    display: inline-flex;
    column-gap: 10%;
    
}

.mainbody{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 10%;
}
.image {
    grid-column: 2;
    grid-row: 2;
    padding-left: 1%;
}
.about{
    grid-row:1;
    grid-column: 1;
}
.homepara1{
    grid-row: 2 ;
    grid-column: 1/2;
}
.homepara2{
    grid-row:3 ;
    grid-column: 1;
}
